/* components/MessageWidget.module.css */
.messageContainer {
    position: fixed;
    bottom: 20px;
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  
  .message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 32px;
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  